#form {
	max-width: 800px !important;
}

#collapseOne input,
#phoneNumber {
	max-width: 300px !important;
}

.date {
	max-width: 40px !important;
	border-radius: 15px !important;
	margin-left: 3px;
}

#gender {
	width: 150px !important;
}

.card {
	background: gainsboro;
}

.btn:focus {
	box-shadow: none !important;
}

.next {
	display: block !important;
	margin-left: auto !important;
	max-width: 120px !important;
	background: purple !important;
}
